@keyframes HoverLinkRight {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes Hover-link-bottom {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes HoverLinkRight {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes Hover-link-bottom {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
nav {
  display: flex;
  justify-content: center;
}
@media all and (min-width: 650px) {
  nav {
    justify-content: space-around;
  }
}
@media all and (min-width: 980px) {
  nav {
    justify-content: space-between;
  }
}
@media all and (min-width: 980px) {
  nav.nav-mobile-version {
    display: none;
  }
}
nav.nav-desktop-version {
  display: none;
}
@media all and (min-width: 980px) {
  nav.nav-desktop-version {
    display: flex;
  }
}
nav li {
  width: 90%;
  height: 30%;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  transform: scaleY(1);
  transition: ease-in-out 0.2s;
}
@media all and (min-width: 650px) {
  nav li {
    justify-content: flex-end;
    width: 40%;
  }
}
@media all and (min-width: 980px) {
  nav li {
    border-right: 2px solid #09b674;
  }
  nav li:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #09b674;
  }
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  transition: all 0.3 ease;
  transform: scaleY(0);
  transform-origin: center top;
  margin-bottom: 0px;
}
@media all and (min-width: 650px) {
  nav ul {
    width: 80%;
    flex-direction: row;
    height: 80px;
  }
}
@media all and (min-width: 980px) {
  nav ul {
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    transform: scaleY(1);
    height: 50px;
  }
}
nav ul.open {
  transform: scaleY(1);
  margin-bottom: 50px;
  height: 140px;
}
@media all and (min-width: 650px) {
  nav ul.open {
    height: 80px;
    margin-bottom: 40px;
  }
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media all and (min-width: 650px) {
  .presentation {
    justify-content: space-around;
  }
}

.presentation-text {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}

.profile-photo {
  width: 150px;
  object-fit: contain;
  border-radius: 50%;
}

h1 {
  flex-wrap: wrap;
  width: 68%;
}
@media all and (min-width: 392px) {
  h1 {
    width: auto;
  }
}

.presentation-firstname {
  margin-right: 10px;
}

.presentation-hello {
  margin-right: 10px;
}

.projects-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px;
}
.projects-list li {
  display: flex;
  flex-direction: column;
  border: solid 2px #09b674;
  border-radius: 3px;
  margin: 15px;
  box-shadow: 0px 0px 4px 2px #09b674;
  padding: 4px;
}
.projects-list li h3 {
  text-align: center;
  font-weight: 900;
  color: #09b674;
  text-shadow: -1px 2px 4px #09b674;
  font-size: 1.7em;
}
.projects-list li h4 {
  text-align: center;
  color: #09b674;
}

.projects-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects-list-btn button {
  border: 1px solid #09b674;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 50%;
  text-align: center;
  background-color: black;
  box-shadow: 0px 0px 3px 1px #09b674;
  width: 130px;
  height: 30px;
}
@media all and (min-width: 900px) {
  .projects-list-btn button {
    margin: 15px 0px;
  }
}
.projects-list-btn button:hover {
  box-shadow: 0px 0px 6px 1px #f02fd0;
  border: 2px solid #f02fd0;
  cursor: pointer;
}

.projects-list-listimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-list-img {
  width: 100px;
  height: 100px;
  margin: 2px;
}
@media all and (min-width: 600px) {
  .projects-list-img {
    margin: 4px;
  }
}
@media all and (min-width: 900px) {
  .projects-list-img {
    margin: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
  }
}

#burgerLink {
  margin: 10px;
}

#burger {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: white;
  position: relative;
}
@media all and (min-width: 980px) {
  #burger {
    display: none;
  }
}
#burger::before {
  content: "";
  width: 30px;
  height: 2px;
  background: white;
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.3 ease;
  top: -7px;
}
#burger::after {
  content: "";
  width: 30px;
  height: 2px;
  background: white;
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.3 ease;
  top: 7px;
}
#burger.open {
  background: transparent;
}
#burger.open::before {
  transform: rotate(45deg);
  top: 0;
}
#burger.open::after {
  transform: rotate(-45deg);
  top: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=index.css.map */
