@mixin burger-style{
    content:'';
        width: 30px;
        height: 2px;
        background: white;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.3 ease;
}

@mixin center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-section-decoration{
    border-bottom: 3px solid $secondary;
    text-shadow: 2px 1px 5px $principal;
    font-weight: bold;
}