@mixin burger-style{
    content:'';
        width: 30px;
        height: 2px;
        background: white;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.3 ease;
}