.about{
    margin: 2%;
    h3{
        @include title-section-decoration
    }
    p{
        font-size: 1.1em;
        text-align: justify;
        @media all and (min-width: 1250px){
            margin-left: 3%;
            margin-right: 3%;
        }
    }
}