// @import "../animations/keyframes";

//presentation zone

#presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media all and (min-width: 650px){
        justify-content: space-around;
    }
}
.presentation-text{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
}

.profile-photo{
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
}
h1{
    flex-wrap: wrap;
    width: 68%;
    @media all and (min-width:392px){
        width: auto;
    }
}

.presentation-firstname{
    margin-right: 10px;
}

.presentation-hello{
    margin-right: 10px;
    // display: inline-block;
    &:hover{
        animation: hello 0.5s ease-in-out;
        // animation: turning-hello 0.9s ease-in-out;
        // transform-origin: center;
    }
}

.presentation-letter{
    display: inline-block;
    &:hover {
        animation: Letter-rotate 0.5s ease-in-out;
    }
}

.letter-vibration{
    &:hover {
        animation: letter-vibration 0.5s ease-in-out;
    }    
}