body{
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: $principal;
}

a{
    text-decoration: none;
    color:white;
}

.groupomania-link{
    text-decoration: underline $tercary;
    &:hover{
        color: $tercary;
        font-weight: bold;
    }
}